header h1 {
    text-align: center;
    color: #fff;
}

.app {
    display: grid;
    height: calc(100vh - 60px);
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 48px auto 96px;
    max-width: 1216px;
    margin: 0 auto;
}
header, main {
    display: flex;
    align-items: flex-start;
}
header {
    grid-area: header;
    justify-content: space-between;
}
main {
    grid-area: main;
    flex-direction: column;
    justify-content: center;
    max-width: 42rem;
    margin-top: 1rem;
    min-width: 0;
}
footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    font-size: .75rem;
}
.app h1,
.app h2,
.app h3 {
    color: #fff;
}
.app a {
    text-shadow: none;
    text-decoration: none;
    background: none;
    color: #86E2D5;
}
.container a {
    border-bottom: 2px solid #86E2D5;
    transition: all .2s ease;
}
.container a:hover {
    background-color: #86E2D5;
    color: #fff;
}


@media (min-width: 480px) {
    .app {
        padding: 2rem;
    }
}

.container {
    max-width: 42rem;
    margin-right: auto;
    margin-left: auto;
}