header h1 {
    text-align: center;
}

.app {
    max-width: 1216px;
    margin: 0 auto;
    color: #fff;
}
.app a {
    color: #404040;
}

@media (min-width: 480px) {
    .app {
        padding: 2rem;
    }
}

.container {
    max-width: 42rem;
    margin-right: auto;
    margin-left: auto;
}