@import 'tokens';

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    color: #fff;
    position: relative;
    font-weight: 600;
    transition: color ease-in 200ms;
    text-decoration: none;
    background: none;
    text-shadow: none;
    margin-left: 12px;
    margin-right: 12px;
    &:not(.anchor):not(.footer__link) {
      border-bottom: 3px solid $link__color__text;
    }
  
    @media (min-width: 640px) {
      display: inline-block;
  
      &:not(.anchor):not(.footer__link) {
        border-bottom: none;
      }
  
      &:after {
        content: "";
        position: absolute;
        display: block;
        background-color: $link__color__text;
        box-shadow: 0 5px 15px rgba(45, 226, 230, .6);
        width: 100%;
        height: $baseline / 6;
        bottom: 0;
        z-index: -1;
        transition: all ease-in 200ms;
      }
  
      &:hover,
      &:focus,
      &:active {
        outline: none;
        color: $color--deep-violet;
        box-shadow: 0 5px 15px rgba(45, 226, 230, .6);
  
        &:after {
          height: 100% !important;
          width: 100% !important;
          padding: 0 $baseline / 4;
          -webkit-transform: translateX(-$baseline / 30);
          transform: translateX(-$baseline / 30);
        }
      }
    }
  }
}