@import "tokens";

.project_preview--wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 2rem 0;
    .project-preview {
        border: 2px solid #fff;
        border-radius: .5rem;
        img {
            border-radius: .5rem .5rem 0 0;
        }
        p:last-child {
            margin-bottom: 0;
        }
        .project_desc {
            padding: 1rem;
        }
    }
}