@import "tokens";

body {
    font-family: $font-family--mono;
    font-size: $baseline;
    min-height: 100vh;
    color: $color--white;
}

a {
  color: #fff;
  position: relative;
  font-weight: 600;
  transition: color ease-in 200ms;
  text-decoration: none;
  background: none;
  text-shadow: none;
}

.sub-heading {
    color: $color--white_contrast;
    font-weight: $light;
}
