@import "tokens";

body {
    font-family: $font-family--mono;
    font-size: $baseline;
    color: $color--white;
}

a {
  color: $color--white;
  position: relative;
  font-weight: 600;
  transition: color ease-in 200ms;
  text-decoration: none;
  background: none;
  text-shadow: none;
  &:hover {
      color: $link__color__text__hover;
  }
}

.sub-heading {
    color: $color--white_contrast;
    font-weight: $light;
}
